*{
    box-sizing: border-box;
}

.container {
    border-radius: 5px;
    background-color: #709bf8;
    padding: 10px;
    height: fit-content;
    margin-top: 50px;
  }

.container h1{
  text-align: center;
}

.create-field:focus{
  color: rgb(61, 61, 255);
}

.wrap-lists{
  margin-top: 30px;
}

.wrap-lists h3{
  text-align: center;
}

#ourList{
  padding: 10px 0px;
}

#ourList li{
  margin: 5px 0px;
}

li:hover{
  background-color: rgb(238, 221, 221);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (max-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .horizontal-center{margin: 0;
      position: absolute;
      left: 50%;
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);}
  }

